:root {
    color-scheme: light dark;
    padding: 100px;
}

/*:first-child*/
.p-first-child {
    font-weight: bold;
}

.li-first-child:first-child {
    border: 2px solid orange;
    padding: 2px;
}

/*Example 1*/
.p-first-ex1:first-child {
    color: black;
    background-color: white;
    padding: 5px;
}

/*Example 2*/
.ul-first-ex2 li {
    color: skyblue;
}

.ul-first-ex2 li:first-child {
    color: red;
    font-weight: bold;
}

/*-----------------------------------

:last-child*/
.li-last-child:last-child {
    border: 2px solid orange;
    padding: 2px;
}

/*Example 1*/
.p-last-ex1:last-child {
    color: black;
    background-color: white;
    padding: 5px;
}

/*Example 2*/
.ul-last-ex2 li {
    color: skyblue;
}

.ul-last-ex2 li:last-child {
    border: 1px solid red;
    padding: 2px;
    color: red;
}


/*----------------------------------------------------

:nth-child()*/
iframe {
    width: 100%;
}

.iframe-1 {
    height: 470px;
}

.iframe-2 {
    height: 70px;
}

.iframe-3 {
    height: 70px;
}

.iframe-4 {
    height: 160px;
}


/*----------------------------------------------------

:nth-of.type()*/
.dt-nth-of-type {
    font-weight: bold;
}

.dd-nth-of-type {
    margin: 3px;
}

.dd-nth-of-type:nth-of-type(even) {
    border: 2px solid orange;
}

.iframe-5 {
    height: 200px;
}


/*----------------------------------------------------

:only-child*/
.iframe-6 {
    height: 230px;
}

.iframe-7 {
    height: 80px;
}


/*----------------------------------------------------

:empty*/
.iframe-9 {
    height: 170px;
}

.iframe-10 {
    height: 100px;
}