/*Responsive Design es una tecnica en desarrollo web que permite que una pagina se adapte a cualquier dispositivo, ajustando su diseño automaticamente
Mobile Firt es una estrategia dentro del responsive design que priopriza el diseño para moviles primero, y luego se expande en pantallas mas grandes

Ejemplo no responsivo:*/

.titulo, .subtitu {
    font-family: 'Sen', sans-serif;
}

.caja {
    width: 49%;
    padding: 20px;
    font-size: 25px;
    display: inline-block;
}

.caja-1 {
    background: #ddd;
}

.caja-2 {
    background: #bbb;
}

@media only screen and (max-width: 800px){

    .caja {
        display: block;
        width: 100%;
    }

    .titulo, .subtitu {
        font-size: 20px !important;
    }
}