/*selector{
    propiedad: valor;
}
Es un patron de elementos que indica al navegador que elementos HTML sse beben seleccionar para aplicarles estilo*/

/*Universal - * {} -> Todos los elementos del mismo color  
* {
    color: #f00;
}*/

/* De tipo - h1,h2,button {} -> seleccionar directamente por el nombre del elemento */
h1 {
    color: #F00;
}

/* Por clases - .nombre_de_clase{} ->  selecciona por el nombre de la clase */
.clase_h2 {
    color: #FFEC33;
}

/* Por id - #nombre_del_elemento{} -> selecciona por el nombre de id */
#id_h3{
    color: #7DFF33;
}

/* Por atributo - [nombre=""]{} - selecciona por atributo, el atributo puede ser cualquiera osea que puede
tener cualquier nombre y valor */ 
[nose='atribu']{
    color: #33FFEC;
}

/* Por descendiente - contenedor lo_que_hay_adentro_del_contenedor {} - seleccion de descendiente con el 
contenedor primero y lo que hay dentro el contenedor puede ser tambien una clase y lo hay dentro tambien 
se pude ver que hay dentro */
p b{
    color: #3342FF;
}

/* Por pseudo-clase - elemento:hover - selecciona cuando se le pasa el maus por encima */
h5:hover    {
    color: #7733FF;
}