/* overflow - desbordamiento | overflo: valor |-> Controla como se comporta el contenido de un elemento 
cuando es mas grande que su contenedor*/
.titulo, .cont__texto {
    font-family: 'Lobster', cursive;
    font-weight: 100;
    font-size: 40px;
}

.titulo {
    text-align: center;
    color: red;
}

/* overflow visible - desbordamiento visible -> Ess el valor por defeto. El contenido que excede el 
contenedor se muestra fuera de el*/
.cont {
    margin: auto;
    width: 300px;
    height: 300px;
    border: 4px solid red;
    background: grey;
}

/* overflow hidden - desbordameinto oculto -> Oculta cualquier contenido que se desborde del contenedor 
sin mostrar barras de desplazamiento*/
.cont-hidden {
    overflow: hidden;
}

/* overflo scroll - desplazamiento de desbordamiento -> Fuerza barras de desplazamiento en el contenedor, 
incluso si no son necesarias*/
.cont-scroll {
    overflow: scroll;
}

.cont-auto {
    overflow: auto;
}

.cont-x {
    overflow-x: scroll;
}

.cont-y {
    overflow-y: scroll;
}