.texto {
    font-family: 'Sens', sans-serif;
    text-align: center;
}

body {
    background: radial-gradient(circle, #fff, #bbb);
    padding: 20px;
}

.grid__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 100px;
    gap: 10px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img:first-child {
    grid-column: 1 / 3;
    grid-row: 1 / 9;
}

img:nth-child(16) {
    grid-column: span 3;
    grid-row: span;
}