body {
    background: radial-gradient(circle, #fff, #bbb);
}

/**/
.grid-container {
    display: grid;
    background: #444;
    margin: 10px;
    border: solid 5px;
    grid-template-areas: 
    "header header header "
    "aside main main "
    "aside main main "
    "aside main main "
    "aside main main "
    "aside main main "
    "footer footer footer ";
    grid-template-rows: repeat(auto-fill, 1fr);
    height: 92vh;
}

.grid-item {
    padding: 20px;
}
.item-header {
    background: #fbb;
    grid-area: header;
}

.item-main {
    background: #bfb;
    grid-area: main;
}

.item-aside {
    background: #bbf;
    grid-area: aside;
}

.item-footer {
    background: #ddd;
    grid-area: footer;
}