/*grid-template es una propiedad abreviada para definir grid columns, grid rows y grid areas*/

:root {
    color-scheme: light dark;
    padding: 50px;
}

.title {
    text-align: center;
}

.text {
    font-size: 50px;
    color: #000;
}

.grid-container {
    background: #444;
    display: grid;
    border: 5px solid #000;
    /*grid-template:
        "a a a" 40px
        "b c c" 40px
        "b c c" 40px / 1fr 1fr 1fr;*/
    grid-template: 
        "a a a" 300px
        "b c c" 300px
        "b c c" 300px / 1fr 1fr 1fr;
}

.item {
    border: 3px solid #000;
    background: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-a {
    grid-area: a;
    background: #45f;
}

.item-b {
    grid-area: b;
    background: #95f;
}

.item-c {
    grid-area: c;
    background: #0f0;
}