/*                              POSITION RELATIVE     
El posicion relative, cuando un elemento se posiciona como relative el contenido se puede mover, pero 
la posicion que ocupa el elemento se mantiene en la posicion incial o donde fue hecho*/

.caja {
    font-family: "Lobster", cursive;
    font-weight: 100px;
    font-size: 30px;
    width: 120px;
    height: 120px;
    display: block;
}

.titulo {
    text-align: center; /*text align - alinear texto -> Alinear el contenido de texto dentro de un elemento*/
    font-family: "Lobster", cursive;
}

.caja-1 {
    background: yellow;
    position: relative; /*relative - relativo -> Se coloca relativamente al lugar dende aparecera normalmente*/  
    top: 40px; /*Mueve el elemento 40px hacia abajo desde la posicion inicial sin afectar los otros elementos*/
    left: 10px; /*Mueve el elemento 10px hacia la derecha desde la posicion inicial sin afectar los otros elementos*/
}

.caja-2 {
    background: green;
}

.caja-3 {
    background: black;
    color: white;
    position: relative;
    top: 40px;
    left: 40px;
    z-index: 1000;
}

.caja-4 {
    background: red;
    position: relative;
    z-index: 10;
}

.cont {
    width: 300px;
    height: 300px;
    background: blue; /*No definir z index en aqui, ya que en un contenedor, si se quiere poner al contenedor encima del contenido lo uni que se hace es poner -1 al z index de contenido*/
    margin: 40px;
}

.cont__hijo {
    background: orange;
    position: relative;
    height: 120px;
    width: 120px;
    top: -20px;
    left: -20px;
    z-index: -1;
}