:root {
    color-scheme: light dark;
    padding: 100px;
}

iframe {
    width: 100%;
}

.iframe-1 {
    height: 470px;
}

.iframe-2 {
    height: 70px;
}

.iframe-3 {
    height: 70px;
}

.iframe-4 {
    height: 160px;
}

pre {
    background-color: #2d3034;
    margin: 0px;
    padding: 16px;
    width: fit-content;
    max-width: 100%;
}

pre code {
    display: block;
    overflow-x: auto;
}
