:root {
    color-scheme: light dark;
    padding: 100px;
}

/*Cascade*/
h4 {
    color: red;
}

h4 {
    color: blue;
}

.main {
    color: white;
    border: 2px solid #cccccc;
    padding: 1em;
}

.special {
    color: red;
    font-weight: bold;
}

.my-class-1 a {
    color: inherit;
}

.my-class-2 a {
    color: initial;
}

.my-class-3 a {
    color: unset;
}

blockquote {
    background-color: orange;
    border: 2px solid blue;
}

.fix-this {
    all: unset;
}

/* 1. specificity: 1-0-1 */
#outer a {
    background-color: red;
}

/* 2. specificity: 2-0-1 */
#outer #inner a {
    background-color: blue;
}

/* 3. specificity: 1-0-4 */
#outer div ul li a {
    color: yellow;
}

/* 4. specificity: 1-1-3 */
#outer div ul .nav a {
    color: white;
}

/* 5. specificity: 0-2-4 */
div div li:nth-child(2) a:hover {
    border: 10px solid black;
}

/* 6. specificity: 0-2-3 */
div li:nth-child(2) a:hover {
    border: 10px dashed black;
}

/* 7. specificity: 0-3-3 */
div div .nav:nth-child(2) a:hover {
    border: 10px double black;
}

a {
    display: inline-block;
    line-height: 40px;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    width: 200px;
    margin-bottom: 10px;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}