:root {
    color-scheme: light dark;
    padding: 100px;
}

li {
    list-style-type: disc;
}

li li {
    list-style-type: circle;
}

pre {
    background-color: #2d3034;
    margin: 0px;
    padding: 16px;
    width: fit-content;
    max-width: 100%;
}

pre code {
    display: block;
    overflow-x: auto;
}
