:root {
    color-scheme: light dark;
    padding: 100px;
}


/*Next-siblings combinator*/
li:first-of-type + li {
    color: red;
    font-weight: bold;
}

li:has(+ li:last-of-type) {
    color: red;
    font-weight: bold;
}


/*Child combinator*/
div > span {
    background-color: yellow;
}


/*Subsequent-sibling combinator*/
article p ~ span {
    color: red;
}

/*General span styles (must be last)*/
span {
    color: #ffffff;
}

.foo p ~ span {
    color: blue;
}

.foo p ~ .foo span {
    color: green;
}


/*Descendant combinator*/
li {
    list-style-type: disc;
}

li li {
    list-style-type: circle;
}

/*Namespace separator*/
@namespace svgNamespace url("http://www.w3.org/2000/svg");
@namespace htmlNameSpace url("http://www.w3.org/1999/xhtml");
/* All `<a>`s in the default namespace, in this case, all `<a>`s */
a {
    font-size: 1.4rem;
}
/* no namespace */
|a {
    text-decoration: wavy overline lime;
    font-weight: bold;
}
/* all namespaces (including no namespace) */
*|a {
    color: red;
    fill: red;
    font-style: italic;
}
/* only the svgNamespace namespace, which is <svg> content */
svgNamespace|a {
    color: green;
    fill: green;
}
/* The htmlNameSpace namespace, which is the HTML document */
htmlNameSpace|a {
    text-decoration-line: line-through;
}